
body{
    background-color: #5780b5;
    font-family: "Bruno Ace", sans-serif;
    font-size: 16px;
    color: #c6bfc7;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 0.5px;
}

h1{
    font-size: 60px;
    font-style: italic;
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

p{
    font-size: 16px;
    margin: 20px 0;
    
}

#question{
    font-size: 20px;
    text-align: center;
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}

.options{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.option{
    font-family: "Bruno Ace", sans-serif;
    background-color: #c6bfc7;
    color: #5780b5;
    border: none;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transition: 0.5s ease-out;
}

.option:hover{
    background-color: #efe4f1;
    
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
#start-btn{
    background-color: #c6bfc7;
    color: #5780b5;
    border: none;
    padding: 15px;
    margin: auto;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transition: 0.5s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Bruno Ace", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: italic;
}

#next-btn{
    background-color: #c6bfc7;
    color: #5780b5;
    border: none;
    padding: 15px;
    margin: right auto;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transition: 0.5s ease-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Bruno Ace", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#restart-btn, #exit-btn{
    background-color: #c6bfc7;
    color: #5780b5;
    border: none;
    padding: 15px;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transition: 0.5s ease-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Bruno Ace", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;

}


#next-btn:hover, #restart-btn:hover, #start-btn:hover, #exit-btn:hover{
    background-color: #efe4f1;
}

.hidden{
    display: none;
}

.option.correct{
    background-color: #12af4e;
    color: #5780b5;
}

.option.incorrect{
    background-color: #b40c4f;
    color: #5780b5;
}

